source https://api.nuget.org/v3/index.json
framework: netcoreapp2.0, netstandard2.0
storage: none

clitool Microsoft.VisualStudio.Web.CodeGeneration.Tools = ~> 2.0
nuget Microsoft.NETCore.App ~> 2.0
nuget NETStandard.Library = ~> 2.0
nuget Microsoft.AspNetCore.All = ~> 2.0
